.wrapper
  = render 'items/header'

.wrapper
  = render 'items/sell-btn'

.box__select
  .box__select__categories
    .box__select__categories__title ブランド一覧
    .parents-categories
      .parents-category
    .children-categories
      .main-title ブランド
      .children-category
        .child-category
        .grandchildren-categories
          .grandchildren-category       
          .grandchildren-title
          グッチ
            
.wrapper
  = render 'items/footer'