.wrapper
  = render 'item-header'

.top
  .top__body
    .top__body__new_account
      アカウントをお持ちでない方はこちら
      .top__body__new_account__box
        新規登録
    .top__body__login  
      = icon('far', 'envelope fa-lg') 
      メールアドレスでログイン<br>      
      %input{type: "text", class: "top__body__login__mail" , placeholder: "メールアドレス"}
      %input{type: "text", class: "top__body__login__password" , placeholder: "パスワード"}     
      .top__body__login__box  
        = link_to root_path, class:"top__body__login__box__text" do
          ログイン

.wrapper
  = render 'item-footer'