.header
  .header__body
    = image_tag('material/logo/logo.png', class:"header__body__icon")
    .header__body__bar   
      .header__body__bar__left
        会員情報   
      .header__body__bar__right   
        ▶︎▶︎▶︎▶︎▶︎▶︎ 登録完了    

.main
  .main__box
    .main__box__top
      会員登録完了  
    .main__box__bottom
      .main__box__bottom__text
        ありがとうございます。会員登録が完了しました。
      .main__box__bottom__next_button
        FURIMAを始める

.wrapper
  = render 'item-footer'