.header
  .header__body
    = image_tag('material/logo/logo.png', class:"header__body__icon")
    .header__body__bar   
      .header__body__bar__left
        会員情報   
      .header__body__bar__right   
        ▶︎▶︎▶︎▶︎▶︎▶︎ 登録完了    

.main
  .main__box
    .main__box__top
      新規会員登録  
    .main__box__member_information
      .main__box__member_information__nickname        
        .main__box__member_information__nickname__text
          会員情報入力  
        .main__box__member_information__nickname__title                 
          .main__box__member_information__nickname__title__text
            ニックネーム
          .main__box__member_information__nickname__title__required
            必須        
        %input{type: "text", class: "main__box__member_information__nickname__box", placeholder: "例）フリマ太郎"}

      .main__box__member_information__mail
        .main__box__member_information__mail__title
          .main__box__member_information__mail__title__text
            メールアドレス
          .main__box__member_information__mail__title__required
            必須        
        %input{type: "text", class: "main__box__member_information__mail__box", placeholder: "PC・ 携帯どちらでも可"}    

      .main__box__member_information__password
        .main__box__member_information__password__title
          .main__box__member_information__password__title__text
            パスワード
          .main__box__member_information__password__title__required
            必須       
        %input{type: "text", class: "main__box__member_information__password__box", placeholder: "７文字以上の半角英数字"}
  
    .main__box__identification
      .main__box__identification__information
        .main__box__identification__information__title
          本人確認
        .main__box__identification__information__text
          安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。

      .main__box__identification__chinese_characters
        .main__box__identification__chinese_characters__title
          .main__box__identification__chinese_characters__title__text
            お名前(全角)
          .main__box__identification__chinese_characters__title__required
            必須
        .main__box__identification__chinese_characters__box        
          %input{type: "text", class: "main__box__identification__chinese_characters__box__left_box", placeholder: "苗字"}
          %input{type: "text", class: "main__box__identification__chinese_characters__box__right_box", placeholder: "名前"}


      .main__box__identification__katakana
        .main__box__identification__katakana__title
          .main__box__identification__katakana__title__text
            お名前カナ(全角)
          .main__box__identification__katakana__title__required
            必須
        .main__box__identification__katakana__box
          %input{type: "text", class: "main__box__identification__katakana__box__left_box", placeholder: "ミョウジ"}
          %input{type: "text", class: "main__box__identification__katakana__box__right_box", placeholder: "ナマエ"}

      .main__box__identification__birth
        .main__box__identification__birth__title
          .main__box__identification__birth__title__text
            生年月日
          .main__box__identification__birth__title__required
            必須
        .main__box__identification__birth__box
            
          %select{name: "category"}
            %option{value: ""} --
            %option{value: "0"} 2000
            %option{value: "1"} 1999
            %option{value: "2"} 1998
            %option{value: "3"} 1997
            %option{value: "4"} 1996
            %option{value: "5"} 1995
            %option{value: "6"} 1994
            %option{value: "7"} 1993
            %option{value: "8"} 1992
            %option{value: "9"} 1991
            %option{value: "10"} 1990
          %li 年
          
          %select{name: "category"}
            %option{value: ""} --
            %option{value: "0"} 1
            %option{value: "1"} 2
            %option{value: "2"} 3
            %option{value: "3"} 4
            %option{value: "4"} 5
            %option{value: "5"} 6
            %option{value: "6"} 7
            %option{value: "7"} 8
            %option{value: "8"} 9
            %option{value: "9"} 10
            %option{value: "10"} 11
            %option{value: "10"} 12
            
           
          %li 月
          %select{name: "category"}
            %option{value: ""} --
            %option{value: "0"} 1
            %option{value: "1"} 2
            %option{value: "2"} 3
            %option{value: "3"} 4
            %option{value: "4"} 5
            %option{value: "5"} 6
            %option{value: "6"} 7
            %option{value: "7"} 8
            %option{value: "8"} 9
            %option{value: "9"} 10
            %option{value: "10"} 11
          %li 日

    .main__box__bottom
      .main__box__bottom__text
        「次へ進む」のボタンを押すことにより、利用規約に<br>同意したものとみなします
      .main__box__bottom__next_button
        -# ここのリンクは仮ルーティング木下6/5
        = link_to member_done_items_path, class:"main__box__bottom__next_button__text" do
          次へ進む

.wrapper
  = render 'item-footer'