.body{
  margin: 5px;
  font-size: 14px;
  background-color: rgb(243, 243, 243);
  padding-top: 20px;
  
    .header{
      height: 100px;
      background-color: gray;
    }
    .main{
      width: 700px;
      height: auto;
      margin: 40px auto;
      padding: 24px 40px 40px;
      background-color: #fff;
      &__name{
        font-size: 24px;
        text-align: center;
      }
      &__comment{
        margin: 8px 0 0 ;
        font-size: 14px;
        color: #888;
      }
      &__informations{
        margin: 16px 0 0;
        display: flex;
        width: 619px;
        &__item-photo{
          width: 300px;
          &__top-stage{
            .top-image{
              height: 250px;
            }
          }
          &__sub {
            display: flex;
            flex-wrap: wrap;
            &__img {
              .subimages {
                width: 100px;
                height: 90px;
              }
            }
          }
        }
          &__information{
            width: 300px;
            height: 460px;
            &__item{
              background-color: #fafafa;
              border: 1px solid #f5f5f5;
              padding: 20px;
            }
            &__breakdown{
              border: 1px solid #f5f5f5;
              width: 160px;
              padding: 20px;
            }
          }
      }
      &__price-box{
        text-align: center;
        margin-top: 24px;
        &__item-price{
          font-weight: 600;
          font-size: 50px;
          margin: 0 16px 0 0;
          display: inline-block;
        }
  
        &__item-price__tax{
          font-size: 10px;
          display: inline-block;
        }
  
        &__item-price__postage-included{
          font-size: 16px;
          display: inline-block;
        }
      }
      .beyer-button{
        margin: 0 auto;

      }
      &__buy-button{
        margin-top: 16px;
        background-color:#ea352d;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        .button{
          text-decoration: none;
          color: white;
          font-size: 24px;
          font-weight: bold;
          height:100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      &__messages{
        padding-top: 32px;
        font-size: 18px;
        white-space: pre-wrap;
      }
    }
    .change__box{
      width: 700px;
      height: 200px;
      margin: 40px auto;
      padding: 24px 40px 40px;
      background-color: #fff;


      &__edit__button{
        margin-top: 16px;
        background-color:#ea352d;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: white;
        font-size: 24px;
        font-weight: bold;
        border-radius: 5px;
        position: relative;
      }
      &__delete__button{
        margin-top: 16px;
        background-color: rgba(205, 205, 205, 0.856);
        height: 60px;
        text-decoration: none;
        color: white;
        font-size: 15px;
        font-weight: bold;
        border-radius: 5px;
        position: relative;
      }
      .button{
        text-decoration: none;
        color: white;
        font-size: 24px;
        font-weight: bold;
        position: absolute;
        height:100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
}