.footer-item {
  background-color:rgb(245, 245, 245);
  height: 220px;
  margin: 0 auto;
  text-align: center;
  display: block;
  padding:40px 0 41px 0;
  &__list {
    height: 54px;
    ul {
      height: 14px;
      margin: 0 auto;
      display: -webkit-flex;
      justify-content: center;
      li {
        margin: 0px 0px 0px 16px;
        font-size: 12px;
        color: rgb(51, 51, 51);
          &:hover {
            opacity: 0.7;
            text-decoration: underline;
          } 
        }
      }
    } 
  
  img {
    filter: brightness(1) invert(25%);
  }
  p {
    font-size: 13px;
    color: rgb(51, 51, 51);
    padding-top: 10px;
  }
}   