.top {
  background-color:rgb(245, 245, 245);
  height: 550px;
  width: 100%;
  color:#333333; 
  
  &__body { 
    height: 550px;
    width: 500px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;  

    &__new_account{
      height: 170px;
      width: 100%;
      text-align: center;
      position: relative;
      border: solid 1px rgb(245, 245, 245);      
      line-height: 85px;
      font-size: 15px;     
      
      &__box {
        height: 60px;
        width: 300px;
        background-color:#3CCACE;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform : translate(-50%,-50%);
        transform : translate(-50%,-50%);
        text-align: center;        
        line-height: 60px;
        
        border-radius: 5px;
        margin-top: 15px;
        &__text{
          line-height: 60px;
          font-size: 15px;        
          font-weight: bolder;
          color: white;
          text-decoration: none;
        }
      }
    }


    &__login {
      height: 100px;
      width: 100%;
      position: relative;
      text-align: center;
      padding-top: 40px;      
    }
      .new_user{
        
        a{
          color: rgb(116, 116, 119);
          line-height: 5;          
        }

        &__body{ 
          width: 300px;
          height: 280px;
          margin-left: auto;
          margin-right: auto;
         
          .field{          
            &__box{
              height: 55px;
              width: 300px;
              padding-left: 10px;
              margin-bottom: 20px;            
            }
          } 
          .next_button {
            height: 60px;
            width: 300px;
            background-color:   #ea352d;
            color: white;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            border-radius: 5px;
            text-align: center; 
            border-style: none;       
          }
        }
      }   
  }  
}