.sell-botton{
  .sell-btn{
    position: fixed;
    z-index: 1;
    bottom: 50px;
    right: 50px;
    height: 130px;
    width: 130px;
    background-color: #3CCACE;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    &__text{
      color: #fff;
      font-size: 20px;
      font-weight: bold;
    }
    &__image{
      height: 60%;
      width: 60%;
    }
  }
}