.body{
  margin: 5px;
  font-size: 14px;
  background-color: rgb(243, 243, 243);
  
    .header{
      height: 100px;
      background-color: gray;
    }
    .main{
      width: 700px;
      margin: 40px auto 0;
      padding: 24px 40px 40px;
      background-color: #fff;
      &__name{
        font-size: 24px;
        text-align: center;
      }
      &__comment{
        margin: 8px 0 0 ;
        font-size: 14px;
        color: #888;
      }
      &__informations{
        margin: 16px 0 0;
        display: flex;
        width: 619px;
          &__information{
            width: 300px;
            height: 460px;
            &__item{
              background-color: #fafafa;
              border: 1px solid #f5f5f5;
            }
            &__breakdown{
              border: 1px solid #f5f5f5;
            }
          }
      }
      &__price-box{
        text-align: center;
        margin-top: 24px;
        &__item-price{
          font-weight: 600;
          font-size: 50px;
          margin: 0 16px 0 0;
          display: inline-block;
        }
  
        &__item-price__tax{
          font-size: 10px;
          display: inline-block;
        }
  
        &__item-price__postage-included{
          font-size: 16px;
          display: inline-block;
        }
      }
      &__buy-button{
        margin-top: 16px;
        background-color:#ea352d;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        .button{
          text-decoration: none;
          color: white;
          font-size: 24px;
          font-weight: bold;
  
        }
      }
      &__messages{
        padding-top: 32px;
        font-size: 18px;
        white-space: pre-wrap;
  
      }
    }
    .footer{
      height: 500px;
      background-color: black;
    }
}