
.header{
  background-color:rgb(245, 245, 245);
  height: 150px;
  width: 100%;  
  &__body {
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    &__icon {
      height: 60px;
      margin-top: 40px;
    }
    &__bar{
      height: 60px;
      width: 250px;
      margin-top: 40px;
      line-height: 60px;
      font-size: 13px;
      display: flex;
      &__left {    
        width: 60px;
        color: #3CCACE;;
      }
      &__right {      
        color:rgb(118, 118, 119);
      }
    }
  }
}

.main{
  height: 1800px;
  width: 100%;

  h1{
    font-weight: bolder;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
  }


  li{
    list-style: none;
    font-size: 14px;

    padding-bottom: 5px;
  }

  &__box{
    background-color: white;
    height: 1700px;
    width: 600px;    
    margin-left: auto;
    margin-right: auto; 

    &__top{
      height: 100px;
      width: 100%;
      text-align: center;
      position: relative;
      border: solid 1px rgb(245, 245, 245);
      line-height: 100px;
      font-size: 23px;  
      font-weight: bolder; 
     
    }
    &__information{
      &__body{
        height: 1000px;
        width: 300px;
        margin-left: auto;
        margin-right: auto; 
        &__top{
          font-weight: bolder;
          font-size: 18px;
          padding-top: 30px;
          padding-bottom: 20px;
        }        
      }

      

      .field{
        // background-color:peachpuff;
        &__title{
          font-weight: bolder;
        }
        &__must{
          height: 20px;
          width: 35px;
          background-color: #ea352d;
          font-size: 12px;
          text-align: center;
          color: white;
          line-height: 1.5;
          border-radius: 3px;
          margin-left: 4px;
          margin-right: 4px;
        }
        &__text{
          font-size: 13px;
        }
        &__box{
          height: 40px;
          width: 300px;
          padding-left: 10px;
          margin-bottom: 15px;
        
        }
      }

      h2{        
        margin-top: 40px;      
      }
      .next_button {
        height: 60px;
        width: 300px;
        background-color:   #ea352d;
        color: white;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        border-radius: 5px;
        text-align: center; 
        border-style: none;                
      } 
      
      .field_mini{     
        display: flex;
        &__box{
          display: flex;
          &__title{
            font-weight: bolder;
   
          }
          &__must{
            height: 20px;
            width: 35px;
            background-color:#ea352d;
            font-size: 12px;
            text-align: center;
            color: white;
            line-height: 1.5;
            border-radius: 3px;
            margin-left: 4px;
            margin-right: 4px;
          }
          &__text{
            font-size: 13px;
          }
          &__form{ 
            height: 40px;
            width: 83px;
            padding-left: 10px;
            margin-bottom: 15px;             
          }          
          &__label {
            line-height: 40px;
          }
        }  
      }
    }
  }
}
